name: ESLint Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  eslint-check:
    runs-on: ubuntu-latest

    steps:
      # v6
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      # v6
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: .tool-versions

      - name: Install dependencies
        run: npm ci

      - name: Check ESLint
        run: npm run lint
